include ../components/content-wrapper/content-wrapper.pug
include ../components/head/head.pug
include ../components/header/header.pug
include ../components/btn/btn.pug
include ../components/modal/modal.pug
include ../components/image/image.pug
include ../components/link/link.pug
include ../components/picture/picture.pug
include ../components/container/container.pug
include ../components/section/section.pug
include ../components/title/title.pug
include ../components/menu/menu.pug
include ../components/menu-drop/menu-drop.pug
include ../components/menu-control/menu-control.pug
include ../components/slider-banner/slider-banner.pug
include ../components/slider-nav/slider-nav.pug
include ../components/example-grid/example-grid.pug
include ../components/example-preview/example-preview.pug
include ../components/example-ytp/example-ytp.pug
include ../components/footer/footer.pug