@layer component {
  .menu-drop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--index-2) + 1);
    width: 100%;
    max-width: 451px;
    padding: 15px;
    text-align: center;
    background-color: cl(bg);
    border: 1px solid cl(shared);
    transform: translateX(-110%);
    transition: transform $time;
    will-change: transform;

    @include mq($m) {
      padding: 33px 64px 57px;
    }

    .menu {
      gap: 39px;
    }

    .btn {
      margin-top: 55px;
    }
  }
}

@layer state {
  .menu-drop {
    &.open {
      transform: translateX(0);
    }
  }
}
